.Payment {
  width: 1200px;
  margin: 0 auto;
  margin-top: 200px;
  & .Payment-title {
    justify-content: center;
    color: brown;
    display: flex;
   & img {
      width: 100px;
      margin-top: 20px;
    }
   & span {
      font-size: 2.4rem;
      margin-top: 40px;
      margin-left: 10px;
      text-shadow: 2px 2px 5px rgb(148, 146, 146);
    }
  }
  & .Payment-content {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    & .Payment-content-left {
        padding:30px;
       flex: 1;
      & .left-form  {
          
          & table{
            width: 100%;
            gap:20px;
             & tr:first-child{
                 display: flex;
                 justify-content: space-between;
                & td{ width: 45%;}
             }
              & h3 {
                font-size: 1.6rem;
                margin-bottom: 20px;
              }
            
                  & span {
                    color: red;
                  }
                 & input[type="text"] {
                    width: 100%;
                    padding: 10px 25px;
                    margin: 8px 0;
                    display: inline-block;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                    font-size: 1rem;
                  }
                 
              
          }
          
        
      }
      & .left-pay {
       & h3 {
          font-size: 1.6rem;
          margin-bottom: 20px;
        }
        & .checkpay {
          display: flex;
          border-bottom: 1px solid rgba(211, 210, 210, 0.493);
          & img {
            width: 30px;
            margin: 0 20px;
          }
          & input {
            margin-top: 10px;
          }
        }
      }
      & .left-argee {
        margin-top: 30px;
        & a {
          color: #ec944b;
        }
      }
    }
    & .Payment-content-right {
        flex: 1;
      box-shadow: 2px 0 15px 5px #cecccc;
      border-radius: 20px;
      & .Payment_right-title {
        display: flex;
        justify-content: space-between;
        margin: 20px 10px;
        & .title-text {
          font-size: 1.6rem;
          color: rgb(252, 176, 34);
        }
        & .title-btn {
          margin-left: 200px;
        & p {
            margin: 0;
            padding: 6px;
            border: 2px solid #000;
            border-radius: 50px;
          }
          & :hover {
            color: white;
            background-color: #38b476;
          }
        }
      }
      & .Payment_right-list {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none; 
        overflow-y: scroll;
        height: 50vh;
        &::-webkit-scrollbar {
          display: none;
        }
        & .list-bill-item {
          display: flex;
          margin: 20px 15px;
          & .item-img {
            flex: 1;
            & img {
              width: 100px;
            }
          }
          & .item-text {
            flex: 4;
            margin-left: 30px;
            margin-top: 10px;
            cursor: pointer;
            & .btn-delete {
              width: fit-content;
              color: orange;
              & :hover {
                color: orangered;
              }
            }
          }
          & .item-price {
            flex: 1;
            margin-left: 100px;
            margin-top: 30px;
            color: rgb(252, 176, 34);
          }
        }
      }
      & .Payment_right-total {
        display: flex;
        margin: 20px 15px;
        justify-content: space-between;
       
        & .total-money {
          & b {
            font-size: 1.4rem;
          }
          & p {
            margin-top: 15px;
            color: rgb(255, 153, 0);
            font-size: 1.3rem;
          }
        }
        & .btn-total {
          margin-left: 340px;
          margin-top: 20px;
          & button {
            margin: 0;
            padding: 10px 20px;
            border: 2px solid #000;
            border-radius: 50px;
            font-size: 1rem;
          }
          & :hover {
            color: white;
            background-color: #ec944b;
          }
        }
      }
      & .Remove-all {
        text-align: center;
        font-size: 1.2rem;
        cursor: pointer;
        margin-bottom: 20px;

        & :hover {
          color: orangered;
        }
      }
    }
  }
}
 
.btn-success{
  width: 150px;
  height: 40px;
  background-color: #318b5e;
  border-radius:10px;
  color:white;


  &:hover{
   background-color: #469178;
  }
}